logs
target
/.classpath
/.project
/.settings
/RUNNING_PID
.idea/workspace.xml
.DS_Store

.env
.idea

.bloop
project/metals.sbt

#Ignore Cookie Jars from CURL - generated when testing Authed Endpoints.
cookie.txt

#https://stackoverflow.com/questions/30737082/what-are-iml-files-in-android-studio
backend.iml

#ignore .java-version by jenv
.java-version

